/* 
 *Foglio di Stile
 * Author: Clivio Fenili
 * Version: 1.0
 * Date: 14/10/2013
 * 
 */

body {
	background-image: url("../images/sfondi/sfondo.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Arial, Gill Sans MT;
	font-size: 15px;
	line-height: 18px;
	color: #043883;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*
 * 
 *  IMPOSTAZIONI GENERICHE
 * 
 */

div {
	overflow: hidden;
}

 
img {
	border: 0px;
}

a {
	font-weight: normal;
	text-decoration: none;	
	color: #043883;
}
a:hover, a:focus {
	text-decoration: none;
	color: #999;
}


/*
 * 
 * IMPOSTAZIONI PERSONALIZZATE
 * 
 */

div.container{
	min-width: 1080px;
	width: 1080px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}

/*
 * HEAD
 */

div.header{
	margin: 0px 0px 0px 0px;
	position:absolute;
	z-index:-1;
}

div.header img {
	background: rgba(0,0,0,0);
	padding: 0px 0px 0px 0px;
	width: auto;
}

div.header img.top1{
	float: left;
	height: 175px;
	margin: 25px 0px 0px 0px;
	position: absolute;
}
div.header img.top2{
	height: 200px;
}
div.header div.centrato{
  position: relative
  float=left;
  text-align:center;
  
}
div.header img.top3{
	float: right;
	height: auto;
	margin: -290px 0px 0px 720px;
	position:relative;
	
}


/*
 * CORPO CENTRALE
 */

div.corpo{	
	background: rgba(255,255,255,0.9);
	margin: 220px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div.corpo div.left{
	float: left;
	width:200px;
	height:auto;
}

div.corpo div.content{
	float: inherit;	
	padding: 0px 10px 10px 30px;
	margin: 0px 0px 0px 0px;
}


/*
 * FOOTER
 */

div.coda{
	text-align: right;
}

/*
 * MENU TOP
 */
div.navigationTop{
	text-align: center;
}
div.navigationTop ul{
	  list-style-type: none;
}

div.navigationTop li {
    text-align: center;
    margin: 0px 30px 0px 0px;  
    display: inline;
    padding: 10px 10px 10px 10px;
    list-style: none;
}
div.navigationTop li a:link, div.navigationTop li a:visited{
  	border:2px inset;
  	border-color:#fff #666 #666 #fff;
  	padding:5px 35px 5px 35px;
    color: #ffffff;
    font-weight: bold;
    background-color: #043883;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    text-transform:uppercase;
    transition-property: background-color, border-color;
    transition-duration: 0.7s;
  	transition-delay: .1s;
}

div.navigationTop li a:hover, div.navigationTop li a:focus {
    background-color: #932224;
    border-color:#ccc #555 #555 #ccc;
}

div.navigationTop li.active a{
    background-color: #932224;
    border-color:#ccc #555 #555 #ccc;
}

/*
 * MENU PRINCIPALE 
 */

div.navigation {
  width: 200px;
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: auto;
}

div.navigation ul{
  padding:0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
}

div.navigation li {
    margin: 0px 0px 0px 0px;  
    padding: 10px 0px 0px 10px;
    list-style: none;
}
div.navigation li a:link, div.navigation li a:visited{
	background: url("../images/dadi.png") no-repeat 122px 35px;
    display:block;
    color: #033983 ;
    border-bottom: 2px dotted;
    border-color:#fff #fff #bbb #fff;
    padding:12px 0px 4px 0px;
    text-decoration: none;
    transition-duration: 1s;
}

div.navigation li a:hover, div.navigation li a:focus{
    color: #932224;
    background: url("http://www.clivio.me/dadi.png") no-repeat 122px -1px;
}

div.navigation li.active a{
    color: #932224;
    background: url("http://www.clivio.me/dadi.png") no-repeat 122px -1px;    
}

/*
 * SPAZIO LOGIN
 */
form#login-form{
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
  background-color: #043883;
  border-radius: 20px 20px 20px 20px;
  border: 0px;
  background-color: #932224;
	color: #ffffff;
  list-style-type: none;
  text-align:left;
}
div.left fieldset {
  border: 0px;
  text-align: center;
  
}
form#login-form ul{
	  padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 35px;
    font-size: 80%;
}

form#login-form li a:link, form#login-form li a:visited{
  	color: #ffffff;
    text-decoration: none;
}

form#login-form li a:hover, form#login-form li a:focus {
  color: #ccc;
}

/*
 * RIQUADRO HOME PAGE
 */

div.riquadro {
    box-shadow: 5px 5px 25px #888;
    height: 400px;
    width: 370px;
    border:2px double #932224;
    border-radius: 20px;    
    margin: 0px 0px 30px 20px;
    position: relative;
    float: left;
}

div.riquadro h3 {
  background-color: #932224;
  color: #fff;
  text-transform:uppercase;
  border-radius: 18px 18px 0px 0px;
  font-weight: bold;
  padding: 7px 0px 3px 10px;
  margin: 0px 0px 0px 0px;
}
div.riquadro div.newsflash {
	margin: 5px 5px 5px 5px;
}
